.nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    &__listitem{
        font-family: 'Nunito', sans-serif;
        color: white;
        list-style: none;
        display: inline-flex;
        margin-right: 1.25rem;
    }
}