.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
  &__list {
    padding-inline-start: 0;
  }
  &__listitem {
    font-family: "Nunito", sans-serif;
    color: white;
    list-style: none;
    display: inline-flex;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
      color: #00b2d2;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  padding-left: 20px;
}

.sidenav a {
  padding: 20px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #00b2d2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav-open {
  width: 100%;
}
.sidenav-close {
  width: 0;
}
