.brands-container{
    text-align: center;
    margin-top: 3rem;
    &__image{
        width: 7.375rem;
        height: 7.375rem;
        margin-right: 2rem;
        margin-top: 1rem;
    }
    &__imagecontainer{
        display: flex;
        justify-content: left;
        overflow-x: scroll;
    }

}

@media screen and (min-width:48rem){
    .brands-container{
        &__image{
            width: 4.375rem;
            height: 4.375rem;
        }
        &__imagecontainer{
            display: flex;
            justify-content: center;
            overflow-x: hidden;
        }
    }
}
