@font-face {
  font-family: "Nunito Regular";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("../assets/fonts/Nunito-SemiBold.ttf");
}
$font-regular: "Nunito Regular", sans-serif;
$font-semibold:"Nunito SemiBold",sans-serif;

     