.footer{
    background-color: #000080;
    &__logo-container{
        width: 40%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-left: 4rem;
    }
    &__heading-style{
        color: white;
        font-size: 1.25rem;
        margin-left: 1.5rem;
        margin-top: 0.5rem;

    }
}