@import "../../utils/fonts.scss";
.people {
  display: flex;
  flex-direction: column;
  &__image {
    width: 2.5rem;
    height: 2.5rem;
  }
  &__heading {
    color: #000080;
    font-size: 1.65rem;
    font-family: $font-semibold;
  }
  &__happy {
    justify-content: center;
    width: 100%;
  }
  &__controls {
    display: flex;
    width: 100%;
    &__edit {
      background-color: #FFE4B5;
      color: darksalmon;
      border-radius: 0.5rem;
      padding: 0.5rem;
      width: 50%;
      margin-right: 0.5rem;
    }
    &__add {
      background-color: #9e6bff;
      color: #2f008a;
      border-radius: 0.5rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
      width: 50%;
    }
  }
}
.person {
  display: flex;
  flex-direction: column;
  &__card {
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    &:first-child {
      margin-top: 2rem;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__title {
    text-align: center;
  }
  &__description{
      text-align: center;
  }
}

@media screen and (min-width: 48rem) {
  .people {
    margin-left: 8rem;
    flex-direction: row;
    &__image {
      width: 1.875rem;
      height: 1.875rem;
      margin-right: 1rem;
      margin-top: 1rem;
    }
    &__heading {
      max-width: 65%;
      text-align: left !important;
    }
    &__happy {
      display: inline-flex;
      justify-content: flex-start;
    }
    &__controls {
      justify-content: flex-end;
      margin-right: 7rem;
      &__edit {
        // width: 6.25rem;
        // height: 6.25rem;
        width: 25%;
        height: 40%;
      }
      &__add {
        // width: 6.25rem;
        // height: 3.75rem;
        width: 25%;
        height: 40%;
      }
    }
    &__container {
      margin-top: 2rem;
    }
  }
  .person {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4rem;
    justify-content: center;
    &__card {
      width: 13rem;
      margin-right: 2.5rem;
      &:first-child {
        margin-top: 0;
      }
    }
    &__image {
      width: 100%;
      height: 12.5rem;
      // object-fit: contain;
    }
  }
}
